header {
    background-color: #3d81c5;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #343a40;
}
p {
    font-size: 18px;
    color: #6c757d;
}
.note-card {
    transition: all 0.3s ease-in-out;
  }
  .note-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  .btn {
    border-radius: 20px;
  }