{% extends 'base.html' %}
{% block title %}
{{ block.super }} - About page
{% endblock title %}

    {% block content %}
   
      <h1>Welcome to My Note</h1>
      <p>This website is built using Django, a powerful Python web framework. Here you can find information about the features and purpose of this application.</p>
      <ul>
        <li>Learn more about Django and web development.</li>
        <li>Explore different sections of the app using the navigation bar.</li>
        <li>Contact us for feedback or support.</li>
        <h1>anantadvaya@gmail.com</h1>

      </ul>
      <p>Thank you for visiting!</p>
      
    {% endblock content %}