{% extends 'base.html' %}
{% block title %}
{{ block.super }} - Home page
{% endblock title %}

    {% block content %}
        <div class="container py-5">
          <form action={% url 'save_data' %} method="POST" class="container mx-auto card p-4">
          {% csrf_token %}

          {% for error in messages %}
            {% if error.tags == "error" %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if error.tags == "success" %}
              <div class="alert alert-success">{{ error }}</div>
            {% endif %}
          {% endfor %}

          <div class="mb-3">
          <label for="title" class="text-lg">Note Title</label>
          <input name="Title" id="title" type="text" class="form-control" placeholder="Enter your Note Title">
          </div>
          <div class="mb-3">
          <label for="content" class="text-400">Note Content</label>
          <textarea name="Description"  id="content" class="form-control" rows="4" placeholder="Enter your Note Content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Add Note
          <i class="fa-solid fa-arrow-right"></i>
          </button>
          </form>

        </div>
      
    {% endblock content %}